#search_and_replace_spinner {
    animation: search_and_replace_spinner_rotation 1s linear infinite;
    vertical-align: text-top;
    margin-right: 5px;
}

@keyframes search_and_replace_spinner_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#search_and_replace_results {
    table-layout: fixed;
}

#search_and_replace_results th.col_checkbox {
    width: 14px;
}

#search_and_replace_results th.col_table {
    width: 12%; 
}

#search_and_replace_results th.col_column {
    width: 10%; 
}

#search_and_replace_results th.col_id {
    width: 6%; 
}

#search_and_replace_results th.col_content,
#search_and_replace_results th.col_preview {
    width: 36%;
}

#search_and_replace_results td {
    overflow: hidden;
    text-overflow: ellipsis;
}
